<!-- app/views/albums/_form.html.erb -->
<%= form_for [current_user, @album], :html => { :class => 'form-horizontal', multipart: true } do |f| %>
<div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
    </div>
</div>
<div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
    </div>
</div>

<div class="control-group">
    <!-- <%= f.label :photos, :class => 'control-label' %> -->
    <div class="controls">
    <%= file_field_tag "images[]", type: :file, multiple: true %>
</div>
</div>

<hr />

<div class="form-actions">
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
    user_albums_path, :class => 'button alert' %>
    <%= f.submit nil, :class => 'button' %>
</div>
<% end %>
