<% content_for :title, @album.title %>

<div class="row">

    <input type="hidden" id="albumID" value="<%= @album.id %>">

  <div class="large-12 columns">
      <h1><%= @album.title %></h1>
      <p class="subheader">Created by <%= @album.user.name %></p>
      <p><%= @album.description %></p>
  </div>

  <div class="row column">
  <hr>
  </div>

  <div class="row column form-actions">
    <%= link_to 'Back', user_albums_path, :class => 'button tiny radius'  %>
    <%= link_to 'Edit album', edit_user_album_path(@user, @album), :class => 'button tiny radius' %>
    <%= link_to 'Delete album', user_album_path(@user, @album), :method => 'delete', data: {confirm: "Are you sure?"}, :class => 'button alert tiny radius' %>
  </div>
</div>

<h2>Photos</h2>
<div class="row small-up-2 medium-up-3 large-up-4">
<% unless @photos.empty? %>
    <% @photos.each do |photo| %>
    <div class="column">
        <%= link_to image_tag(photo.image.url, :class => "thumbnail"), photo_path(photo) %>
    </div>
  <% end %>
<% end %>
</div>
