<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class="top-bar">

    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="name">
          <%= link_to 'iolfnu', root_path, {:class => 'top-bar-title'} %>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>

        <% if user_signed_in? %>
            <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
        <% else %>
            <li>
            <%= link_to('Login', new_user_session_path) %>
            </li>
        <% end %>

      </ul>
    </div>
  </div>
  <div class="row">
    <%= yield %>
  </div>

</body>
</html>
